# Creating a pandas series

In [1]:
# Importing pandas
import pandas as pd

In [2]:
# Creating a pandas series from a list
numbers = pd.Series([10, 20, 30, 40])

In [3]:
numbers

0    10
1    20
2    30
3    40
dtype: int64

In [20]:
# Slicing a Series
print(numbers[1:3])

1    20
2    30
dtype: int64

In [4]:
# Creating a Pandas Series from a List Variable
data = [10, 20, 30, 40, "Fifty"]
series = pd.Series(data)

In [5]:
series

0       10
1       20
2       30
3       40
4    Fifty
dtype: object

In [6]:
# Creating a Pandas Series from a Dictionary
my_dict = {"Apples":10, "Oranges":20, "Bananas":30}
fruits = pd.Series(my_dict)

In [7]:
fruits

Apples     10
Oranges    20
Bananas    30
dtype: int64

In [11]:
# Creating a Pandas Series from a String
string = ["The name of the car is RX350", "The color is Black", "It is brand new"]
Car_details = pd.Series(string)

In [12]:
Car_details

0    The name of the car is RX350
1              The color is Black
2                 It is brand new
dtype: object

In [13]:
# Creating a Pandas series from Booleans
passed = pd.Series([True, False, True])

In [14]:
passed

0     True
1    False
2     True
dtype: bool

In [15]:
# Creating a Pandas Series with Custom Labels (Indexes)
grades = pd.Series ([85, 90, 78], index=["Math", "English", "Science"])

In [16]:
grades

Math       85
English    90
Science    78
dtype: int64

In [19]:
# Accessing Series Elements by Indexes
print(grades['English'])

90

In [21]:
# Performing an Addition Operation on a series
new_grades = grades + 10

In [22]:
print(new_grades)

Math        95
English    100
Science     88
dtype: int64

In [33]:
# Trying to perform the Addition on a particular index
grades['Science'] = grades['Science'] + 10

In [34]:
print(new_grade)

88

In [35]:
grades

Math       85
English    90
Science    88
dtype: int64

In [36]:
# Performing some Descriptive Tasks
print(grades.mean())
print(grades.max())
print(grades.min())

87.66666666666667
90
85

In [37]:
# Performing Filtering Based on Conditions
print(grades[grades > 80])

Math       85
English    90
Science    88
dtype: int64